@model proyectoWeb_GYM.Models.Membresia

@{
    ViewData["Title"] = "Editar Membresia";
}

<h1 class="text-center">Editar Membresia</h1>
<hr />
<div class="row"> 
    <div class="col-md-4 mx-auto" style="border-radius: 15px; box-shadow:  20px 20px 60px #858080,
             -20px -20px 60px #b3adad; background: #9c9696;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_membresia" />
            <div class="form-group">
                <label asp-for="nombre_membresia" class="control-label"></label>
                <input asp-for="nombre_membresia" class="form-control" />
                <span asp-validation-for="nombre_membresia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendidas" class="control-label"></label>
                <input asp-for="vendidas" class="form-control" />
                <span asp-validation-for="vendidas" class="text-danger"></span>
            </div>
            <div class="form-group text-center" >
                <input type="submit" value="Guardar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
	<a class="btn btn-secondary mt-2 text-center" asp-action="Index">Regresar a la lista</a>
</div>

