
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Bienvenido @ViewBag.nombre</h1>
            <p class="lead text-body-secondary">En esta página podras visualizar tú perfil entre otras cosas más.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Completa tú perfil</a>
                <a href="@Url.Action("Logout", "Home")" class="btn btn-danger my-2">Cerrar sesión</a>
            </p>
        </div>
    </div>
</section>


