
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}

<h3 class="text-center">Bienvenido @ViewBag.correo</h3>
@*<a asp-controller="Home" asp-action="Logout">Salir</a>*@
<button class="btn btn-outline-primary btn-block" type="submit"><i class="fa fa-sign-in"></i>Cerrar sesión</button>

<div class="col-lg-12">
    <p class="text-lg-center text-md-center text-sm-center text-xs-center">Created by <a href="http://www.koalapix.com" target="_blank">koalapix. studio</a>, for crazy developers...</p>
</div>


