@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-name" content="gymbro" />
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Last-Modified" content="0">
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
	<meta http-equiv="Pragma" content="no-cache">

  <title>GymBro | Fitness</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
	<link rel="stylesheet" href="css/style.css?1.0">

	<link rel="shortcut icon" type="image/png" href="~/icono_principal.png" />

</head>

<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	
	<div class="container-fluid">
	<a class="navbar-brand" asp-controller="Home" asp-action="Index">
			<h2 class="text-white text-capitalize"></i>Gym<span class="text-color">Bro</span></h2>
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
			aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-view-list"></span>
		</button>

		<div class="collapse text-center navbar-collapse" id="navbarsid">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"><a class="nav-link" asp-action="Pricing">Membresía</a></li>
				<li class="nav-item"><a class="nav-link" asp-action="Consejos">Consejos Fit</a></li>
				<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Login">Iniciar sesión</a></li>

			</ul>
			<div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
				<a href="tel:+503-7889-2015">
					<h3 class="text-color mb-0"><i class="ti-mobile mr-2"></i>+503-7889-2015</h3>
				</a>
			</div>
		</div>
	</div>
</nav>

<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<span class="h6 d-inline-block mb-4 subhead text-uppercase">Gym fitness club</span>
				<h1 class="text-uppercase text-white mb-5">Intensifica<span class="text-color"> tu reto fitness</span><br>con nosotros</h1>
			
				<a asp-action="Pricing" class="btn btn-main ">Únete a nosotros<i class="ti-angle-right ml-3"></i></a>
			</div>
		</div>
	</div>
</section>


<section class="mt-80px">
	<div class="container">
		<div class="row ">
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
					<span class="number">01</span>
					<h3 class="mt-3">CROSSFIT</h3>
					<p class="mt-3 mb-4">Fitness funcional que combina entrenamiento con pesas rusas, 
						levantamiento de pesas olímpico, gimnasia, lanzamientos de balones medicinales, 
						entrenamiento con mancuernas, ejercicios pliométricos, levantamiento de pesas, 
						y saltar la cuerda.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<span class="number">02</span>
					<h3 class="mt-3">COMPROMETIDOS CONTIGO</h3>
					<p class="mt-3 mb-4">Estamos comprometidos a ayudarlo a superar sus objetivos de acondicionamiento físico</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<span class="number">03</span>
					<h3 class="mt-3">AUMENTAR LA MOTIVACIÓN</h3>
					<p class="mt-3 mb-4">Descubra las ventajas de la membresía a medida que se pone en forma, 
						                     se mantiene en forma y se centra en su salud y bienestar.</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<img src="images\bg\young-man-sportswear-exercise-class-gym.jpg" alt="" class="img-fluid rounded shadow w-100">
			</div>
			 
			<div class="col-lg-6">
				<div class="pl-3 mt-5 mt-lg-0">
					<h2 class="mt-1 mb-3">Tenemos habilidad en <br> una amplia <span class="text-color">gama de fitness</span> y otras instalaciones de salud del cuerpo. </h2>

					<p class="mb-4">Cambia tu cuerpo, cambia tu mentalidad. Nuestro gimnasio tiene todo lo que necesitas para obtener resultados.</p>

				</div>
			</div>
		</div>
	</div>
</section>




<section class="section cta">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="text-center">
					<span class="h6 letter-spacing text-white">Descubre tu potencial</span>
					<h2 class="text-lg mt-4 mb-5 text-white">
						Registrate ya, tenemos un <span class="text-color"> 25% </span>de descuento
					</h2>

					<a asp-action="Pricing" class="btn btn-main text-white">Únete hoy</a>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="section services ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Nuestros servicios</h2>
					<p>Ofrecemos variedad de ejercicios, para cada parte de tú cuerpo.</p>
				</div>
			</div>
		</div>

		<div class="row no-gutters">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-gym-alt-2 text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">LEVANTAMIENTO DE PESAS</h4>
					<p>Podras realizar diferentes tipos de ejercicios con pesas.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-cycling-alt text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">FORMACIÓN PERSONALIZADA</h4>
					<p>Tú escoges que ejercicios hacer, para alcanzar tu meta.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-gym-alt-3 text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Cuerpo más saludable</h4>
					<p>Descubre un régimen de culturismo integral diseñado para esculpir tu físico a la perfección.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-muscle text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">INOVACIÓN</h4>
					<p>Nos comprometemos a avanzar con persistencia implacable y mente abierta.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-dumbbell text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">TRABAJO EN EQUIPO</h4>
					<p>Trabajamos juntos de forma colaborativa, alentadora y respetuosa.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="text-center  px-4 py-5 hover-style-1">
					<i class="icofont-gym text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Fitness</h4>
					<p>Para todos los objetivos y niveles.</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="gallery">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Ejercicios Completos</h2>
					<p>Lleva tu entrenamiento al siguiente nivel</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid p-0">
		<div class="row no-gutters portfolio-gallery">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-01.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-01.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-02.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-02.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-03.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-03.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-04.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-04.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-05.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-05.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-06.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-06.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-07.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-07.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-08.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-08.jpg" alt="" class="img-fluid">
				</a>
			</div>
		</div>
	</div>
</section>		


<section class="section course bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Ejercicios populares</h2>
					<p>Empiece hoy con nosotros para tener el cuerpo que tanto desea tener.</p>
				</div>
			</div>
		</div>
	</div>
</section>



<footer class="footer bg-black-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
				<h2 class="text-white mb-4">GymBro</h2>
				<p>
					Beneficios de la Membresía
				</p>

				<p>Descubrirás lo fácil que es mantenerse motivado y en forma. 
					Un gimnasio estructurado para fluir, que te permite entrar y salir rápidamente.</p>

			</div>
			

			<div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
			</div>

			<div class="col-lg-2 col-md-5 mb-5 mb-lg-0">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">Enlaces rápidos</h4>
					<ul class="list-unstyled footer-menu lh-40 mb-0">
						<li><a asp-action="Pricing"><i class="ti-angle-double-right mr-2"></i>Membresía</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-5">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">
						Localización
					</h4>
					<p>Santa Ana, El Salvador</p>
					<span class="text-white">+503-7889-2015</span>
					<span class="text-white">GymBro@gmail.com</span>
				</div>
			</div>
		</div>

		<div class="row align-items-center mt-1 px-3 bg-black mx-1">
			<div class="col-lg-4">
				<p class="text-white mt-3">GymBro © 2023<a class="text-color"></a></p>
			</div>
			<div class="col-lg-6 ml-auto text-right">
				<ul class="list-inline mb-0 footer-socials">
					<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://github.com/"><i class="ti-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



