@model proyectoWeb_GYM.Models.Usuario


@{
	 ViewData["Title"] = "Pricing";
     Layout = null;
}


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-name" content="gymbro" />
	<link rel="shortcut icon" type="image/png" href="~/icono_principal.png" />


  <title>GymBro| Fitness</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/plugins/icofont/icofont.min.css">
  <link rel="stylesheet" href="~/plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="~/plugins/animate-css/animate.css">
  <link rel="stylesheet" href="~/plugins/magnific-popup/dist/magnific-popup.css">
  <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="~/css/style.css?1.0">

</head>


<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	
	<div class="container-fluid">
	<a class="navbar-brand" asp-controller="Home" asp-action="Index">
			<h2 class="text-white text-capitalize"></i>Gym<span class="text-color">Bro</span></h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
			aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-view-list"></span>
		</button>
		<div class="collapse text-center navbar-collapse" id="navbarsid">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Pricing">Membresía</a></li>
				<li class="nav-item"><a class="nav-link" asp-action="Index">Consejos Fit</a></li>
				<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Login">Iniciar Sesión</a></li>
			</ul>
			<div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
				<a href="tel:+23-345-67890">
					<h3 class="text-color mb-0"><i class="ti-mobile mr-2"></i>+503-7889-2015</h3>
				</a>
			</div>
		</div>
	</div>
</nav>



<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a asp-controller="Home" asp-action="Index" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
            <li class="list-inline-item"><span class="text-white">|</span></li>
					<li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">Precios</a></li>
          </ul>
				<h1 class="text-lg text-white mt-2">Membresía </h1>
      </div>
    </div>
  </div>
</section>


<section class="section pricing bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Precio del paquete</h2>
					<p>¿Todavía no formas parte de la plataforma? Elige el pago mensual y podrás disfrutar 
						de un acceso ilimitado a todas las disciplinas, clases y masterclass. 
						Si ya has realizado la compra, inicia sesión con tu usuario y contraseña.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">

			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="card px-4 py-5  rounded-0 bg-4">
					<div class="position-relative">
						<h4 class="card-title text-capitalize font-weight-normal font-secondary text-white "><span class="text-sm bg-primary text-white py-1 px-2 mr-2">Estándar</span>Pro Pack </h4>
						<h3 class="text-lg font-secondary position-relative mt-2 text-white "><sup class="text-sm position-absolute">$</sup>3.00 <sub>al mes</sub></h3>

						<div class="card-body mt-2">
							<ul class="list-unstyled lh-35 mb-4">
								<li class="text-white"><i class="ti-check mr-3 text-color "></i>Entrena donde y cuando quieras 24/7</li>
								<li class="text-white"><i class="ti-check mr-3 text-color "></i>Más de 10 entrenamientos diferentes</li>
								<li class="text-white"><i class="ti-check mr-3 text-color "></i>Guía de estiramientos y relajación</li>
								<li class="text-white"><i class="ti-check mr-3 text-color"></i>Programa personalizado a la medida de tus necesidades</li>
								<li class="text-white-50"><i class="ti-close mr-3"></i>Renovar al año</li>
							</ul>
						
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 bg-4">
					<div class="position-relative">
						<h4 class="card-title text-white text-capitalize font-weight-normal font-secondary">Pack dorado</h4>
						<h3 class="text-lg text-white font-secondary position-relative  mt-2"><sup class="text-sm position-absolute">$</sup>30.00 <sub>al año</sub></h3>

						<div class="card-body mt-2">
							<ul class="list-unstyled lh-35 mb-4">
								<li class="text-white"><i class="ti-check mr-3 text-color "></i>Entrena donde y cuando quieras 24/7</li>
								<li class="text-white"><i class="ti-check mr-3 text-color "></i>Más de 10 entrenamientos diferentes</li>
								<li class="text-white"><i class="ti-check mr-3 text-color"></i>Guía de estiramientos y relajación</li>
								<li class="text-white"><i class="ti-check mr-3 text-color"></i>Programa personalizado a la medida de tus necesidades</li>
								<li class="text-white"><i class="ti-check mr-3 text-color"></i>Disfruta de tú plan todo el año</li>
							</ul>

						</div>
					</div>
				</div>
			</div>

			

		</div>

		<div class="row justify-content-center mt-4">
			<a href="@Url.Action("SignUp", "Home")" class="btn btn-main">Comprar ahora</a>
		</div>
		
	</div>
</section>


<footer class="footer bg-black-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
				<h2 class="text-white mb-4">GymBro</h2>
				<p>
					Beneficios de la Membresía
				</p>

				<p>
					Descubrirás lo fácil que es mantenerse motivado y en forma.
					Un gimnasio estructurado para fluir, que te permite entrar y salir rápidamente.
				</p>

			</div>


			<div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
			</div>

			<div class="col-lg-2 col-md-5 mb-5 mb-lg-0">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">Enlaces rápidos</h4>
					<ul class="list-unstyled footer-menu lh-40 mb-0">
						<li><a asp-action="Pricing"><i class="ti-angle-double-right mr-2"></i>Membresía</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-5">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">
						Localización
					</h4>
					<p>Santa Ana, El Salvador</p>
					<span class="text-white">+503-7889-2015</span>
					<span class="text-white">GymBro@gmail.com</span>
				</div>
			</div>
		</div>

		<div class="row align-items-center mt-1 px-3 bg-black mx-1">
			<div class="col-lg-4">
				<p class="text-white mt-3">GymBro © 2023<a class="text-color"></a></p>
			</div>
			<div class="col-lg-6 ml-auto text-right">
				<ul class="list-inline mb-0 footer-socials">
					<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="ti-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/"><i class="ti-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://github.com/"><i class="ti-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
