
@{
	ViewData["Title"] = "SignUp";
	Layout = null;
}

<title>Registro - Pago</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="shortcut icon" type="image/png" href="~/icono_principal.png" />


<div class='container mt-5' style="background-color:white">
    <div class='row' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-12'>
            <div id='mainContentWrapper'>
                <div class="col-md-8 col-md-offset-2">
                
                    <h2 style="text-align: center;">
                        Revise su pedido y finalice la compra
                    </h2>
                    <hr/>
                    <div class="shopping_cart">
                        <form class="form-horizontal" role="form" action="" method="post" id="payment-form">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Revise su pedido</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="items">
                                                <div class="col-md-9">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td colspan="2">
                                                                <b>
                                                                    Estándar Pro Pack
                                                                </b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <ul>
                                                                    <li>Todos los beneficios</li>
                                                                    <li>Entrena donde quieras</li>
                                                                    <li>Programa personalizado</li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <b>$3.00</b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="text-align: center;">
                                                        <h4>Total del pedido con descuento</h4>
                                                        <h3><span style="color:green;">$2.25</span></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div style="text-align: center; width:100%;"><a style="width:100%;"
                                                                                        data-toggle="collapse"
                                                                                        data-parent="#accordion"
                                                                                        href="#collapseTwo"
                                                                                        class=" btn btn-success"
                                               onclick="$(this).fadeOut(); $('#payInfo').fadeIn();">Continuar con la información de facturación»</a>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Contacto e Información de facturación</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Ayúdenos a mantener su cuenta segura, verifique sus datos de facturación.</b>
                                        <br/><br/>
                                        <table class="table table-striped" style="font-weight: bold;">
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="nombre">Nombre:</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="nombre" name="nombre"
                                                           required="required" type="text"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="apellido">Apellido:</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="apellido" name="apellido"
                                                           required="required" type="text" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="direccion">Dirección:</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="direccion" name="direccion"
                                                           required="required" type="text"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_postalcode">Código Postal:</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="id_postalcode" name="postalcode"
                                                           type="text" placeholder="+503" disabled />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="telefono">Télefono:</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="telefono" name="telefono"
                                                           required="required" type="text"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="correo">Correo:</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="correo"
                                                           name="correo" required="required" type="text" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="clave">Contraseña:</label>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="clave"
                                                           name="clave" required="required" type="text" />
                                                </td>
                                            </tr>
           
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div style="text-align: center;"><a data-toggle="collapse"
                                                                            data-parent="#accordion"
                                                                            href="#collapseThree"
                                                                            class=" btn   btn-success" id="payInfo"
                                                                            style="width:100%;display: none;" onclick="$(this).fadeOut();  
                   document.getElementById('collapseThree').scrollIntoView()">Introducir información de pago »</a>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <b>Información de pago</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <span class='payment-errors'></span>
                                        <fieldset>
                                            <legend>¿Con qué método desea pagar hoy?</legend>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="card-holder-name">Nombre 
                                                       titular
                                                          </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" stripe-data="name"
                                                           id="name-on-card">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="card-number">
                                                    Número de tarjeta
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" stripe-data="number"
                                                           id="card-number">
                                                    <br/>
                                                    <div>
                                                        <img class="pull-right"
                                                              src="~/images/icons8-visa-96.png"
                                                              style="max-width: 50px; padding-bottom: 20px;">
                                                        <img class="pull-right mb-0 mt-1 "
                                                             src="~/images/mastercard_curved_icon.png"
                                                             style="max-width: 50px; padding-bottom: 20px;">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="expiry-month">
                                                        Fecha de caducidad
                                                        </label>
                                                    <div class="col-sm-9">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <select class="form-control col-sm-2"
                                                                        data-stripe="exp-month" id="card-exp-month"
                                                                        style="margin-left:5px;">
                                                                    <option value="01">Enero (01)</option>
                                                                    <option value="02">Febrero (02)</option>
                                                                    <option value="03">Marzo (03)</option>
                                                                    <option value="04">Abril (04)</option>
                                                                    <option value="05">Mayo (05)</option>
                                                                    <option value="06">Junio (06)</option>
                                                                    <option value="07">Julio (07)</option>
                                                                    <option value="08">Agosto (08)</option>
                                                                    <option value="09">Septiembre (09)</option>
                                                                    <option value="10">Octubre (10)</option>
                                                                    <option value="11">Noviembre (11)</option>
                                                                    <option value="12">Diciembre (12)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <select class="form-control" data-stripe="exp-year"
                                                                        id="card-exp-year">
                                                                    <option value="2023">2023</option>
                                                                    <option value="2024">2024</option>
                                                                    <option value="2025">2025</option>
                                                                    <option value="2026">2026</option>
                                                                    <option value="2027">2027</option>
                                                                    <option value="2028">2028</option>
                                                                    <option value="2029">2029</option>
                                                                    <option value="2030">2030</option>
                                                                    <option value="2031">2031</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="cvv">CVC de la tarjeta</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" stripe-data="cvc"
                                                               id="card-cvc">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                    </div>
                                                </div>
                                        </fieldset>
                                        <button type="submit" class="btn btn-success btn-lg" style="width:100%;">Pagar
                                            ahora
                                        </button>
                                        <br/>
                                        <div style="text-align: center;"><br/>
                                            Al enviar este pedido está aceptando nuestros términos y condiciones.
                                            Si tiene alguna pregunta sobre nuestros productos o servicios, póngase en contacto con nosotros
                                            antes de realizar el pedido.
                                        </div>
                                    </div>
                                </div>
                            </div>
						</form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
